@media screen and (max-width: 1160px) {
    .drilldown-verse {
        width: 375px;
    }
}

@media screen and (max-width: 1100px) {
    .vertical-tabs {
        display: flex;
        flex-direction: row;
        width: 350px;
        height: 120px;
    }

    .vertical-tabs .button {
        flex-grow: 1;
    }

    .tabs-display-holder {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .graph-display {
        height: 530px;
    }
}

@media screen and (max-width: 960px) {
    .drilldown-verse {
        width: 300px;
    }
}

@media screen and (max-width: 900px) {
    .graph-display {
        height: 300px;
    }
}

@media screen and (max-width: 750px) {
    .graph {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .tabs-display-holder {
        margin-top: 50px;
    }

    .word-cameo {
        margin-top: 20px;
    }
}

@media screen and (max-width: 370px) {
    .graph-tools-bar::-webkit-scrollbar-track {
        background-color: #E6E6E6;
      }
}
