body {
    margin: 0px;
    font-family: Roboto;
    /* padding-bottom: 10px; */
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
    width:100%;
    height: 100%;

}

:root {
    --background-color:  #EFEFEF;
    --framework-line-color: rgb(197, 197, 197);
    --main-blue: #dfecf2;
    --secondary-blue: #ececec;
    --tertiary-blue: #93c3d9;
    --gradient-title: linear-gradient(90deg, var(--main-blue) 0%, rgb(67, 67, 137) 50%, var(--main-blue) 100%);
    --legend-gray: #f0f0f0;
    --legend-hover: #e9e9e9;
    --framework-line-color: rgb(197, 197, 197);
}
.page {
    min-width: 80%;
    max-width: 98%;
    margin:3px;

}
.copyright {
    width: 100%;
    margin: 30px 0px 10px 0px;
    color: gray;
    text-align: center;
}

.main-container {
    background-color: var(--color-2);
    padding: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    box-shadow: 0 6px 10px 0 var(--box-shadow-color);
}
.main-title {
   padding: 5px 5px 5px 20px;
   font-family: Roboto;
   font-size: 45px;
   font-weight: 1000;
}
hr {
    width: 80%;
}
svg {
    background-color: white;
    border-radius: 15px;
    min-height: 250px;
}

.author-select {
    font-size: 16px;
    cursor: pointer;
    padding: 15px;
}

.compare {
    /* border-top: 1px solid gray; */
    padding-bottom: 10px;
    background-color: inherit;
}

main {
    background-color:var(--color-1);
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

/* .horizontal-scroll {
    border-bottom: 1px solid gray;
} */

.compare-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    font-size: large;
  }

.horizontal-scroll {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    transition: max-height .2s ease-out;
}

.tab-holder {
    display: flex;
    flex-direction: row;
}

.tab {
    border-radius: 10px 10px 0px 0px;
    background-color: var(--color-3);
    width: 50%;
    padding: 15px;
    font-weight: 500;
}

.selected {
    background-color:var(--color-1);
    border-bottom: 0;
}

.tab:hover {
    background-color: var(--color-3-shade);
    cursor: pointer;
}

#event-page {
    display: none;
}
.selected:hover {
    background-color:var(--color-1);
}
.name {
    background-color: #ffffff;
    box-shadow: 0 0 3px var(--box-shadow-color);
    border-radius: 5%;
    margin: 5px;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 70px;
    max-width: 90px;
    font-size: medium;
}

.name:hover {
    /* background-color: #bddac88c; */
    /* background-color: #c2c2c2; */
    box-shadow: 0 0 6px black;
}

/* ----------------- Timeline Graphic ---------------------- */

.timeline-top-bar {
    display: flex;
    justify-content: space-between;
    background-color:inherit;
    /* border-top: solid 3px var(--secondary-blue); */
    align-items: center;
}
.main-speaker {
    display: flex;
    align-items: center;
    font-family: Roboto;
}
.main-image-cont {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    margin: 5px;
    margin-left: 20px;
}
.main-image-cont img {
    width: 100%;
}

.alt-name, .temp-name {
    fill: rgb(90, 90, 90);
}

#svg-lifespan {
    margin-top: 20px;
}
.horz-line {
    stroke: var(--framework-line-color);
    stroke-width: 1px;
}
.horz-line-event {
    stroke: var(--framework-line-color);
    stroke-width: 1px;
}
.tick {
    stroke: var(--framework-line-color);
    stroke-width: 1px;
}
.tick-event {
    stroke: var(--framework-line-color);
    stroke-width: 1px;
}
.timeline-rect {
    fill: #93c3d98c;
    stroke: black;
    stroke-width: 1px;
}
.events-rect:hover {
    fill: #8387888c;
}

.temp-timeline-rect {
    fill: #ffffff8c;
    stroke: black;
    stroke-width: 1px;
}

.alt-timeline-rect {
    fill: #d0ecdb8c;
    stroke: black;
    stroke-width: 1px;
}

.timeline-lifespan {
    /* transform: translateY(-60px); */
    font-size: 26px;
    font-family: Roboto;
    fill: rgb(49, 49, 49);
}

.timeline-lifespan-event {
    /* transform: translateY(-60px); */
    font-size: 26px;
    font-family:Roboto;
    fill: rgb(49, 49, 49);
}

#svg-lifespan g {
    transition-timing-function: linear;
}

.event-description-box {
    font-size: 20px;
    font-family: Roboto;
    fill: rgb(49, 49, 49);
}

.description-box {
    background-color: white;
    border-radius: 10px;
    margin-top: 15;
    margin-bottom: 10px;
    padding: -5px -10px -5px -10px;
}
.description-box-text {
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    max-height: 250px;
    overflow-x: none;
    overflow-y: scroll;
    user-select: text;
}
.active {
    color: black;
}
.y-axis {
    display: none;
}
.events-timeline .tick {
    stroke: none;
}
#svg-events {
    display: none;
}
.zoom-box {
    width: 100%;
}



@media screen and (max-width: 1100px) {
    body {
        display: block;
    }
    .graphic {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}
@media screen and (max-width: 650px) {

    .tab{
        font-size: small;
    }
    .name{
        font-size: small;
        height: 50px;
        min-width: 50px;
        max-width: 70px;
    }
    .timeline-top-bar {
        flex-direction: column;
    }
    .main-image-cont {
        height: 60px;
        width: 60px;
    }
    .author-select {
        font-size: 15px;
        padding: 10px;
    }
    .instructions {
        visibility: hidden;
    }
}



.tooltip {
    border-radius: 8px;
    background-color: rgba(47, 47, 47, 0.8);
    padding: 10px;
    position: absolute;
    color: white;
}
.tooltip-visible {
    display: default;
}
.tooltip-hidden {
    display: none;
}